@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
font-size: 16px;
font-family: 'Roboto', sans-serif;
font-weight: normal; 
/* background-color:aliceblue; */
background: url(https://phonoteka.org/uploads/posts/2022-02/1643902295_72-phonoteka-org-p-ochen-svetlii-fon-76.jpg) no-repeat;
background-size: 100% 100%;
color: #0f141e;
}

.container {
    max-width: 800px;
    margin: auto;
    padding-top: 30px;
}

.ava{
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.40);
    width: 150px;
    border-radius: 20px;
}

.info {
    margin-bottom: 20px;
    display: flex;
    
}

.info-text {

        margin-left: 40px;

}

.info-text p{
    font-style: italic;
    font-weight: bold;
    color: #787b81;
    margin: 0px;
    padding-bottom: 10px;
    
}

.info-text h4 {
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: grey;
    
}

.links {
    margin-bottom: 15px;
    text-align: center;
}

.links h4{
    margin: 10px;
}

a:hover {
        color:white;
        text-shadow:  0 0 0.2em blue;
        text-decoration: underline;

}

a:active {
    color: skyblue;
}


.card h3 {
    margin-bottom: 10px;
}

.card {
      border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.20);
}

.bg-yellow {
    background: #fff9dc;
}

.bg-red {
    background: #ffe5e5;
}

.btn {
    font-family: inherit;
    color: whitesmoke;
    background: #0f141e;
    border: none;
    padding: 15px;
}

.btn:hover {
    opacity: .9;
    cursor: pointer;
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
    
}

.btn:active {
    padding: 14px;
    color: darksalmon;
}


.lists {
    padding: 0 20px;
}

.lists li {
    color:dimgray;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
    
}

.table {
    width: 100%;
    
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2), .table td:nth-child(3) {
    color: dimgray;
   
}

.form h2{
    text-align: center;

}

.form-row {
margin-bottom: 10px;
display: flex;
}

.form-row .form-group{
     
    margin-right: 20px;
    width: 50%;
}

.form-row .form-group:last-child {

    margin-right: 0;

}

.form-group label {
    display: block;
    font-size: 14px;
    color: dimgray;
    
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px 0;
    outline: none;
    font-family: inherit;
}


@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
    }

    .ava{
        box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.40);
        width: 200px;
        border-radius: 20px;
    }

    .form-row {
        display: block;
        }

        .form-row .form-group{

            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }

}

